.container {
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .calculator{
    background-image: linear-gradient(to left, #314ecf, #4bc9a9, #8d267f);
    padding: 60vh 10vh 10vh 10vh;
    border-radius: 1rem;
  }

  
  #display {
    background-color: #fdf8fd;
    padding: 15px;
    border-radius: 0.5rem;
    text-align: right;
    height: 5vh;
    margin: 0.5rem;
  }

  .tabela {
    display: block;
    align-items: center;
}
  .calculatorButtons{
    width: 4rem;
    height: 3rem;
    border: none;
    margin: 0.3rem;
    border-radius: 0.5rem;
    background-color: #fef9ff;
    box-shadow: 0 4px #cac5b6;
    text-align: center;
  }
  .calculatorButtons:active {
    transform: translateY(0.1vh);
    box-shadow: 0 2px #cac5b6;
  }
  
  
  #result{
    height: 6.8rem;
  }
  
  #num0{
    width: 8.7rem;
  }